body {
     font-family: "Open Sans", sans-serif;
}

#shadow-box {
    margin: 2%;
    padding: 2% 4%;
    border-radius: 20px;
    box-shadow:  0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

h2, #chart {
    font-weight: bold;
    color: rgb(125, 125, 125);
}

#chart {
    font-weight: 800;
    font-size: larger;
}

#columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 3.5em;
    margin-right: 1em;
    position: relative;
    top: 50px;
}

#rows{
    display: flex;
    flex-direction: row;
}

#php-v {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5em;
    margin-bottom: 2.5em;
    position: relative;
    left: 30px;
}

canvas {
    height: 20% !important;
    width: 92% !important; 
}